<div class="container">
    <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
            aria-expanded="false">
            Dropdown
        </button>
        <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
            <li><a class="dropdown-item" (click)="sortByYearOld()">Year (Oldest)</a></li>
            <li><a class="dropdown-item" (click)="sortByYearNew()">Year (Newest)</a></li>
            <li><a class="dropdown-item" (click)="sortByAlpha()">Alpha</a></li>
        </ul>
    </div>



    <!-- <div class="input-group mb-3">
        <label class="input-group-text" for="inputGroupSelect01" >Sort</label>
        <select class="form-select" id="inputGroupSelect01" >
            <option selected>Rating</option>
            <option value="1" [(ngModel)]="filter">Year</option>
            <option value="2">A-Z</option>
        </select>
    </div> -->
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 row-cols-xl-4 g-4">
        <div class="col" *ngFor="let showObj of (shows ) | paginate: { itemsPerPage: 12, currentPage: p }">
            <app-card [showObj]=showObj></app-card>
        </div>
    </div>
</div>
<div class="text-center">
    <pagination-controls class="my-pagination" (pageChange)="p = $event"></pagination-controls>
</div>