<div class="container" *ngIf="watchLater.length != 0 ">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 row-cols-xl-4 g-4">
            <div class="col" *ngFor="let show of (watchLater ) | paginate: { itemsPerPage: 12, currentPage: p }">
                <app-card [showObj]=show></app-card>
            </div>
        </div>
</div>
<div class="text-center" *ngIf="watchLater.length != 0">
    <pagination-controls class="my-pagination" (pageChange)="p = $event"></pagination-controls>
</div>
<div *ngIf="watchLater.length === 0">
    No Favs Yet...
</div>

