<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #fdcd3b;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="\assets\undraw_adventure_4hum.svg" alt="" width="85vw" height="50vh" class="ms-2"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0 ms-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="tv" routerLinkActive='active'>TV</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container-fluid">
    <router-outlet></router-outlet>
  </div>